
<div class="scrollable" style="height:75%;padding-bottom: 20px;">
  <div class="scrollable-content">
    <div class="section" style="height:100%;" >
      <div class="panel-group" ui-shared-state="myAccordion" ui-default='1' >

        <div class="panel panel-default" ng-repeat="i in [1,2,3,4,5,6,7]">
          <div class="panel-heading" ui-set="{'myAccordion': i}" ng-click="toogled(i)">

           <h4 class="panel-title">
            	<p ng-if="i == 1">Product Info</p>
                <p ng-if="i == 2">Stock Info</p>
                <p ng-if="i == 3">Images</p>
                <p ng-if="i == 4">Pricing</p>
                <p ng-if="i == 5">Similar Products</p>
                <p ng-if="i == 6">Accessories</p>
                <p ng-if="i == 7">Bundle</p>
            </h4>
          </div>

          <div ui-if="myAccordion == {{i}}" ng-show="toogle">
            <div class="panel-body">
  					<p ng-if="i == 1"><span ng-bind-html="productInfo|htmlContent"></span></p>
	                <p ng-if="i == 2"><span ng-bind-html="pproddescmarket|htmlContent"></span><span ng-bind-html="stockInfo|htmlContent"></span><span ng-bind-html="totalorderInfo|htmlContent"></span><span ng-bind-html="polinesInfo|htmlContent"></span></p>
	                <p ng-if="i == 3"><span ng-bind-html="imagesInfo|htmlContent"></span></p>
	                <p ng-if="i == 4"><span ng-bind-html="pricingInfo|htmlContent"></span></p>
	                <p ng-if="i == 5"><span ng-bind-html="similarProducts|htmlContent"></span></p>
	                <p ng-if="i == 6"><span ng-bind-html="similarAccessories|htmlContent"></span></p>
                  <p ng-if="i == 7"><span ng-bind-html="bundleInfo|htmlContent"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

