<div class="scrollable">
  <h1 class="scrollable-header app-name">Products Information<small></small></h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#!/" ng-click="menuclick()">Search<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/productHome" ng-click="menuclick()">Home<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/productinfo" ng-click="menuclick()">Product Info<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/stockinfo" ng-click="menuclick()">Stock Info<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/imagesInfo" ng-click="menuclick()">Images<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/pricing" ng-click="menuclick()">Pricing<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/similar" ng-click="menuclick()">Similar Product<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/accessories" ng-click="menuclick()">Accessories <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/bundle" ng-click="menuclick()">Bundle <i class="fa fa-chevron-right pull-right"></i></a>


<!--       <a class="list-group-item" href="#!/scroll">Scroll Test<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/accordion">Accordion Test<i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="#!/swipe">Swipe<i class="fa fa-chevron-right pull-right"></i></a> -->
     <!--  <a class="list-group-item" href="#!/scroll">Scroll<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/swipe">Swipe<i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#!/touch">Touch<i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="#/overlay">Overlay <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/forms">Forms <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/dropdown">Dropdown <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/touch">Touch<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/swipe">Swipe<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/drag">Drag 1<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/drag2">Drag 2<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/carousel">Drag 3<i class="fa fa-chevron-right pull-right"></i></a> -->
    </div>
  </div>
</div>
