<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.com.jaycar.warehouse.mapping.PorderItemVOMapper">

      
  <resultMap id="POLINE" type="au.com.jaycar.warehouse.vo.PorderItemVO">
   
       <result column="FREEQTY" jdbcType="DECIMAL" property="freeQty" />
       <result column="OUTQTY" jdbcType="DECIMAL" property="outQty" />
       <result column="POIT_LINE" jdbcType="DECIMAL" property="poitLine" />
       <result column="REQDATE" jdbcType="DATE" property="poitReqdate" />
       <result column="POIT_DUEDATE" jdbcType="DATE" property="poitDuedate" />
       <result column="POIT_ACKREF" jdbcType="CHAR" property="poitAckref" />
       <result column="POIT_QTYORD" jdbcType="DECIMAL" property="poitQtyord" />

        <association property="porder" column="PORD_ORDER" javaType="au.com.jaycar.warehouse.entity.Porder">
		   <result column="PORD_SUPPLIER" jdbcType="CHAR" property="pordSupplier" />
	       <result column="PORD_ORDER" jdbcType="CHAR" property="pordOrder" />
        </association>

  
  </resultMap>
  <select id="find" parameterType="java.util.Map" resultMap="POLINE">
  <![CDATA[ 
  	SELECT DISTINCT ( O.PORD_SUPPLIER ), O.PORD_ORDER, ( I.POIT_QTYORD - I.POIT_QTYDEL - I.POIT_SORQTY ) AS FREEQTY, (
  				I.POIT_QTYORD - I.POIT_QTYDEL ) AS OUTQTY, I.POIT_LINE, I.POIT_REQDATE AS REQDATE, I.POIT_DUEDATE, I.POIT_ACKREF, I.POIT_LINE, I.POIT_QTYORD
   				FROM MDST.PORDER O
				LEFT OUTER JOIN MDST.POITEM I
     					ON O.PORD_ORDER = I.POIT_ORDER
  				WHERE I.POIT_QTYORD > '0' AND trim(I.POIT_PRODUCT) = #{item} AND O.PORD_TYPE = 'N' AND O.PORD_OUTITEMS > '0' AND O.PORD_COSTMETH = 'S'
  				AND I.POIT_STATUS <> 'C' AND trim(I.POIT_COSTCODE) = #{database}
				ORDER BY I.POIT_DUEDATE ASC

	]]>
	
  </select>
  

   <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 11 11:53:16 AEDT 2017.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
</mapper>